$secondaryColor: #0c9d9e;
$gray: #808080;
$white: #ffff;
$textColorBlack: #000000;
$textColorRed: #ff0000;

$buttonColor: #df6c4f;
$buttonBorderColor: #f28187;

$scrollbarColor: #d6dee1;
$scrollbarHoverColor: #f7f7f7;
