@import "../../styles/variables";

.modalTitle {
	color: $textColorBlack;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 16px;
}

.formLabel {
	color: $textColorBlack;
	display: block;
	margin-top: 30px;
	margin-bottom: 3px;
}

.formInput {
	width: 100%;
	border: none;
	border-bottom: 1px solid;
}

input:focus {
	outline: none;
}

.wrongPassword {
	color: $textColorRed;
	font-size: 12px;
}

.forgotLink {
	display: block;
	font-size: 12px;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 40px;
}

.formButton {
	border-radius: 15px;
	font-size: 16px;
	min-height: 60px;
	width: 100%;
}

.guestText {
	margin-top: 15px;
	margin-bottom: 5px;
	display: block;
	color: $textColorBlack;
	text-align: center;
}

.lineBreak {
	color: $gray;
	margin-top: 30px;
	border: none;
	border-top: 1px solid;
}

.register {
	color: $textColorBlack;
	display: block;
	text-decoration: none;
	font-size: 12px;
	text-align: right;
}
