.dailyContainer {
	display: flex;
	flex-direction: column;

	.dailyHelpButton {
		align-self: end;
		font-size: 16px;
		border-radius: 100%;
		margin-top: 20px;
		margin-right: 20px;
	}

	.dailyTitle {
		text-align: center;
		font-size: 34px;
		font-weight: 700;
		margin-bottom: 16px;
		margin-top: 16px;
	}

	.noGameText {
		text-align: center;
	}
}

.dailyModal {
	width: 50%;
}

@media only screen and (max-width: 1025px) {
	.dailyModal {
		height: 60%;
	}
}

