@import "../../styles/variables";

.leaderboardContainer {
	display: block;
	border-radius: 10px;
	width: 20%;
	min-width: 350px;
	height: 500px;
	box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
	padding: 20px 20px 10px 10px;
	overflow-y: auto;

	.leaderboardheader {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		flex-wrap: wrap;

		.leaderboardTitle {
			font-size: 30px;
			font-weight: 500;
		}

		.leaderboardrefreshbutton {
			font-size: 16px;
			border-radius: 10px;
			padding: 4px 12px;
		}
	}

	table {
		width: 100%;

		.rankColumn {
			text-align: left;
			width: 50%;
		}
	
		.userColumn {
			text-align: left;
		}
	
		.scoreColumn {
			text-align: right;
		}
	}
}

.noScoresText {
	text-align: center;
}

.leaderboardContainer::-webkit-scrollbar {
	width: 20px;
}
.leaderboardContainer::-webkit-scrollbar-track {
	background-color: transparent;
}

.leaderboardContainer::-webkit-scrollbar-thumb {
	background-color: $scrollbarColor;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.leaderboardContainer::-webkit-scrollbar-thumb:hover {
	background-color: $scrollbarHoverColor;
}












