.Board {
	display: flex;
	border: 5px;
	margin-left: 100px;
	width: 300px;
	height: 500px;
}

.leaderboard {
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	width: 300px;
	height: 500px;
	margin-left: 100px;
	border-radius: 10px;
	box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
	overflow-x: hidden;
}

.leaderboardheader {
	display: flex;
	justify-content: space-evenly;
}

.leaderboardrefreshbutton {
	width: 20px;
	height: 20%;
	border: 2px solid rgb(0, 0, 0);
	font-size: 16px;
	border-radius: 10px;
	padding: 4px 12px;
	background-color: rgb(255, 255, 255);
	margin-left: 100px;
	margin-right: 20px;
}
