.modal-section-header{
  font-weight: bold;
  font-size: large;
  align-items: start;
  margin-bottom: 0.25rem;
}

.model-section-text{
  margin-top: 0.25rem;
}

.landingModalButton {
  width: 100%;
  margin: 0px;
  border-radius: 10px;
}