.square {
	appearance: none;
	border: 1px solid black;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: #0c9d9e;
	margin: 2px;
}

.one {
	width: 54px;
	height: 54px;
}

.two {
	width: 50px;
	height: 50px;
}

.three {
	width: 46px;
	height: 46px;
}

.squareOpened {
	background-color: #df6c4f;
}

.squareClicked {
	background-color: #f28187;
}
