@import "../../styles/variables";

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1000;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	padding: 30px;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	z-index: 1000;
	width: 15%;
	overflow: auto;
	color: $textColorBlack;

	.closeButton {
		display: block;
		cursor: pointer;
		height: 35px;
		margin-left: auto;
	}
}
