@import "../../styles/variables";

.gameHistoryContainer {
	display: block;
	border-radius: 10px;
	width: 20%;
	min-width: 350px;
	height: 500px;
	box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
	padding: 20px 20px 10px 10px;
	overflow-y: auto;

	.gameHistoryTitle {
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.noGamesText {
		text-align: center;
	}

	table {
		width: 100%;
	
		.gameColumn {
			text-align: left;
		}
		
		.timeColumn {
			text-align: left;
		}
		
		.scoreColumn {
			text-align: right;
		}
	}
}

.gameHistoryContainer::-webkit-scrollbar {
	width: 20px;
}
.gameHistoryContainer::-webkit-scrollbar-track {
	background-color: transparent;
}

.gameHistoryContainer::-webkit-scrollbar-thumb {
	background-color: $scrollbarColor;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.gameHistoryContainer::-webkit-scrollbar-thumb:hover {
	background-color: $scrollbarHoverColor;
}