@import "../../styles/variables";

.designSquare {
	appearance: none;
	color: $white;
	background-color: $secondaryColor;
	font-size: 32px;
	font-weight: bold;
	border: 1px solid $textColorBlack;
	margin: 2px;
}

.one {
	width: 60px;
	height: 60px;
}

.two {
	width: 54px;
	height: 54px;
}

.three {
	width: 46px;
	height: 46px;
}