.Landing {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.Board {
	display: flex;
	border: 5px;
	margin-left: 100px;
	width: 300px;
	height: 500px;
}
.leaderboard {
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	width: 300px;
	height: 500px;
	margin-left: 100px;
	background: -webkit-linear-gradient(top, #9bcb2a, #930eb5);
	background: linear-gradient(to bottom, #85b525, #6314b7);
	border-radius: 10px;
	box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
	overflow-x: hidden;
}
.leaderboardheader {
	display: flex;
	justify-content: space-evenly;
}
.leaderboardrefreshbutton {
	width: 20px;
	height: 20%;
	border: 2px solid rgb(0, 0, 0);
	font-size: 16px;
	border-radius: 10px;
	padding: 4px 12px;
	background-color: rgb(255, 255, 255);
	margin-left: 100px;
	margin-right: 20px;
}
.History {
	border: 1px;
}
.userHistory {
	text-align: left;
	margin-left: 300px;
}
.gameButtons {
	display: flex;
	align-items: end;
	justify-content: center;
	margin-top: 50px;
}

.buttons {
	width: 160px;
	height: 20%;
	border: 2px solid #f28187;
	font-size: 16px;
	border-radius: 10px;
	padding: 4px 12px;
	background-color: #df6c4f;
	margin-left: 20px;
	margin-right: 20px;
}
.buttonsspecial {
	width: 200px;
	height: 50px;
	border: 2px solid #f28187;
	font-size: 20px;
	border-radius: 10px;
	padding: 4px 12px;
	background-color: #df6c4f;
}

h1 {
	text-align: center;
}
